

.pic{
    width: 7rem;
    height: 7rem;
   
    margin-left: 2rem;
    margin-right: 0;
}

.progress{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 17rem;
    background-color: #FF6648;
    border-radius: 15px;
}

.progress:hover{
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.05);
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10rem;

}

.dias{
    display:flex;
    flex-direction: row;
}