.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10rem;
}

.bttnhover:hover{
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.02);
}