.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settingsBtn:hover{
    cursor: pointer;

    transition: transform 150ms;
    transform: scale(1.08);
}

.profilePic:hover{
    cursor: pointer;

    transition: transform 150ms;
    transform: scale(1.04);
}

.profilePic{
    border-radius: 50px;
}

.settingsBtn{
    border-radius: 50px;
}
